/* apply a natural box layout model to all elements */
/* from http://www.paulirish.com/2012/box-sizing-border-box-ftw */
#gf-winners *,
#gf-winners *:before,
#gf-winners *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}